/*
|--------------------------------------------------------------------------
| Grid
|--------------------------------------------------------------------------
*/

$grid-gutter: 1%;
$grid-columns: 12;
$grid-max: $main-width;


@for $i from 1 through $grid-columns{ 
  %grid-#{$i} {
    width: 100% / $grid-columns * $i;
    float:left;
  }
}
