/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
*/
 
%btn{
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        text-transform: uppercase;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
            -ms-touch-action: manipulation;
                touch-action: manipulation;
               
}

/*
|--------------------------------------------------------------------------
| Tema dos botões
|--------------------------------------------------------------------------
*/

$btn-colors:(
    theme:          $btn-color,
    theme-primary:  $btn-primary
);

@each $btn-theme, $btn-color in $btn-colors{
    %btn-#{$btn-theme}{ 
        background-color: $btn-color;
        color:#fff;
        transition: all ease 0.4s;

        &:hover, a:focus {
                background-color: darken($btn-color, 10%);
            }
    }
}

/*
|--------------------------------------------------------------------------
| Classe dos botões
|--------------------------------------------------------------------------
*/


.btn-primary{
    @extend %btn;
    @extend %btn-theme-primary;
    border: 4px solid #1c7cb6;
    height: 43px;
    text-align: center;
    text-transform: uppercase;
    font-family:$bold-font; 
    color:#1c7cb6;
    transition: all ease 0.6s;

        &:hover{
            color:#fff;
            background:#1c7cb6;
        }
}

