/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
*/
 
%btn{
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        text-transform: uppercase;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
            -ms-touch-action: manipulation;
                touch-action: manipulation; 
               
}

/*
|--------------------------------------------------------------------------
| Tema dos botões
|--------------------------------------------------------------------------
*/

$btn-cores:(
    theme:          $btn-color,
    theme-primary:  $btn-primary
);

@each $index, $valor in $btn-cores{
    %btn-#{$index}{ 
        background-color: $valor;
        color:#fff;
        transition: all ease 0.4s;
        height: 43px;
        font-family:$bold-font;  

        &:hover, a:focus {
                background-color: darken($valor, 10%); 
            }
    }
}

/*
|--------------------------------------------------------------------------
| Classe dos botões
|--------------------------------------------------------------------------
*/

.btn-theme{
    @extend %btn;
    @extend %btn-theme;
}

.btn-primary{
    @extend %btn;
    @extend %btn-theme-primary;
}

