/*
|--------------------------------------------------------------------------
| Form Fields e Row
|--------------------------------------------------------------------------
*/

.form-field{
      width: 45%;
      float: left;
      margin-left: 30px;
      position: relative;
}

.form-field-full   { @extend .form-field;  width: 100%; }
.form-field-large  { @extend .form-field;  width: 82%; }
.form-field-medium { @extend .form-field;  width: 37%; }
.form-field-small  { @extend .form-field;  width: 24%; }

.form-row{ @extend %clearfix; margin-bottom: 30px; }

/*
|--------------------------------------------------------------------------
| Inputs
|--------------------------------------------------------------------------
*/

textarea,
select,
input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"]
input[type="checkbox"]{
    width:100%;
    height:44px;
    padding-left: 10px;
    background-color: $input-bg;
    border: 1px solid $input-border;
    -webkit-transition: border linear .2s, box-shadow linear .2s;
       -moz-transition: border linear .2s, box-shadow linear .2s;
         -o-transition: border linear .2s, box-shadow linear .2s;
            transition: border linear .2s, box-shadow linear .2s;


            &:focus{
                border-color: $input-border;
                outline: 0;
                outline: thin dotted \9;
                -webkit-box-shadow: 0 0 2px $input-focus;
                   -moz-box-shadow: 0 0 2px $input-focus;
                        box-shadow: 0 0 2px $input-focus;
            }
}


/*
|--------------------------------------------------------------------------
| Label e Erro
|--------------------------------------------------------------------------
*/


  label{
    display:inline-block;
    margin-bottom: 5px;

    &.error{
          color: rgb(208, 24, 24);
          font-size: 0.9em;
          margin-bottom: 15px;
    }
}

.feedback-message{
    display:inline-block;
    margin-bottom: 5px;
}


/*
|--------------------------------------------------------------------------
| Placeholder
|--------------------------------------------------------------------------
*/


input[type="text"]::-webkit-input-placeholder {
    -webkit-transition: opacity 0.6s linear;
    color: $input-color;
}

input[type="text"]:focus::-webkit-input-placeholder {
    opacity: 0
}

textarea::-webkit-input-placeholder {
    -webkit-transition: opacity 0.6s linear;
    color: $input-color;
}

textarea:focus::-webkit-input-placeholder {
    opacity: 0
}
