/*
|--------------------------------------------------------------------------
| Estados
|--------------------------------------------------------------------------
*/

.is-visible  {opacity:1; }
.is-hidden   {opacity: 0;}
.is-removed  {display:none;}
.is-active   {color:$link-color;}


/*
|--------------------------------------------------------------------------
| Clearfix
|--------------------------------------------------------------------------
*/

%clearfix{
    &:after {
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    height:0;
    overflow:hidden;
  }
}

/*
|--------------------------------------------------------------------------
| Image Replacement
|--------------------------------------------------------------------------
*/

%image-replacement{
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat; 
}


/*
|--------------------------------------------------------------------------
| Margin Auto
|--------------------------------------------------------------------------
*/

%margin-auto{
     margin-left: auto;
     margin-right: auto;
}

%margin-absolute-auto{
     margin-left: auto;
     margin-right: auto;
     left:0;
     right:0;
}

/*
|--------------------------------------------------------------------------
| Pseudo Elements
|--------------------------------------------------------------------------
*/

%pseudo{
    content:"";
    display: block;
    position: absolute;
}


/*
|--------------------------------------------------------------------------
| Vídeo Responsivo
|--------------------------------------------------------------------------
*/

%video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px; 
    height: 0;

        iframe {
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        }

}

/*
|--------------------------------------------------------------------------
| Cortar Elemento
|--------------------------------------------------------------------------
*/

@mixin truncate($truncation-width) {
    max-width: $truncation-width;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
} 


/*
|--------------------------------------------------------------------------
| PX para EM
|--------------------------------------------------------------------------
*/

// Exemplo de Uso: font-size: em(72);

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}

