
/*
|--------------------------------------------------------------------------
| Modal
|--------------------------------------------------------------------------
*/

.modal{
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 106;
      opacity: 0.9;
      background: #0C0F13; 
      display:none;
}

.modal-box{
	    position: fixed;
	    width:30%;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    z-index: 999;
	    top: 20%;
	    text-align: center;
	    display: none;
}
